@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    background-color: antiquewhite;
}

.grid__container1 {
    display: grid;
    grid-template-areas: "header header header"
                        "portada portada aside"
                        "articulo articulo aside"
                        "msj msj msj"
                        "footer footer footer";
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: auto;
    gap: 0.5rem;
}

.grid__container2 {
    display: grid;
    grid-template-areas: "header header header"
                        "producto producto aside2"
                        "msj2 msj2 aside2"
                        "footer footer footer";
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: auto;
    gap: 0.5rem;
}

header {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: burlywood;
    padding: 0.5rem;
}

.header__navegacion {
    padding: 0.5rem;
}

.grid__portada {
    grid-area: portada;
    padding: 0.5rem;
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    padding: 0.5rem;
}

.aside2 {
    grid-area: aside2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    padding: 0.5rem;
}

aside h3 {
    padding-bottom: 1rem;
}

aside p {
    text-align: justify;
}

li a {
    text-decoration: none;
    color: brown;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.header__h2 {
    display: inline;
    color: brown;
}

.slogan {
    display: flex;
    flex-grow: 1;
    margin-left: 1rem;
}

ul {
    display: inline;
    list-style-type: none;
}

li {
    display: inline;
}

.main__title {
    font-family: rubik, sans-serif;
    text-align: center;
    color: brown;
}

.main__img {
    display: block;
    border-radius: 2.5rem;
    padding: 1.5rem;
    margin: auto;
    width: 90%;
    padding: 0.5rem;
    background-image: url("../recursos/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
}

.main__video {
    display: flex;
    grid-area: producto;
    flex-direction: column;
    justify-self: center;
    margin: 1.5rem;
}

iframe {
    width: 560px;
    height: 315px;
}

.main__productos {
    grid-area: msj2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding: 0.5rem;
}

.boton__cotizar {
    padding: 1rem;
    border: 1px solid chocolate;
    background-color: chocolate;
    border-radius: 1rem;
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boton__cotizar:hover {
    transform: scale(1.2);
    color: brown;
}

.grid__tarjetas {
    display: flex;
    grid-area: articulo;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.tarjeta__mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid chocolate;
    border-radius: 1rem;
    width: 20rem;
    height: 18rem;
}

.tarjeta__titulo {
    display: flex;
    color: coral;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tarjeta__img {
    display: block;
    margin: auto auto 1rem auto;
    width: 4rem;
}

.tarjeta__mensaje p {
    color: brown;
    margin-bottom: 1.5rem;
    padding: 1rem;
    text-align: justify;
    background-color:bisque;
    border-radius: 1rem;
}

.msj__final {
    display: flex;
    flex-direction: column;
    grid-area: msj;
    padding: 1rem;
    width: 35rem;
    text-align: justify;
    justify-self: center;
    color: chocolate;
}

.imagen__fondo {
    display: flex;
    background-image: radial-gradient(rgba(142, 157, 162, 0.401), rgba(0, 0, 139, 0.221)), url("../recursos/msj.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid chocolate;
    width: 20rem;
    height: 16rem;
    margin: auto;
    align-content: center;
    border-radius: 1rem;
}

.msj__final p {
    margin-top: 1rem;
}

 footer {
    background-color: burlywood;
    grid-area: footer;
}

.footer__redes {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer__imgs {
    display: block;
    justify-content: flex-end;
    width: 3rem;
    margin: 0px 0.5rem;
}

.footer__disclaimer {
    display: flex;
    justify-content: center;
}

.boton__animacion {
    animation-duration: 2s;
    animation-name: animacion_boton;
    animation-iteration-count: infinite;
}

@keyframes animacion_boton {
    0% {
        width: 150px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 250px;
    }
}

/*Para visualización en tablet*/
@media (min-width: 541px) and (max-width: 720px) {
    header {
        background-color: lightblue;
    }

    .grid__container1 {
        grid-template-columns: 75vw 23vw;
        grid-template-areas: "header header"
                            "portada aside"
                            "articulo articulo"
                            "msj msj"
                            "footer footer";
    }

    .grid__container2 {
        display: grid;
        grid-template-columns: 75vw 23vw;
        grid-template-areas: "header header"
                            "producto aside2"
                            "msj2 msj2"
                            "footer footer";
        grid-template-rows: auto;
        gap: 0.5rem;
    }

    .main__img {
        width: 90%;
    }

    .msj__final {
        width: auto;
    }

    .grid__tarjetas {
        align-items: center;
    }
    iframe {
        width: 390px;
        height: 280px;
    }
    section {
        flex-direction: column;
    }
}

/*Para visualización en celular*/
@media (min-width: 320px) and (max-width: 540px) {
    header {
        background-color: lightcoral;
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        align-content: center;
    }

    li {
        display: inline-flex;
    }

    .grid__container1 {
        grid-template-columns: 100vw;
        grid-template-areas: "header"
                            "portada"
                            "aside"
                            "articulo"
                            "msj"
                            "footer";
    }

    .msj__final {
        width: auto;
    }

    .main__productos {
        width: auto;
        height: 15rem;
    }

    .grid__container2 {
        display: grid;
        grid-template-areas: "header"
                            "aside2"
                            "producto"
                            "msj2"
                            "footer";
        grid-template-columns: 100vw;
        grid-template-rows: auto;
        gap: 0.5rem;
    }

    iframe {
        width: 90vw;
        height: 40vh;
    }

    .grid__tarjetas {
        align-items: center;
    }

    section {
        flex-direction: column;
    }
}
