.boton__bootstrap {
    background-color: chocolate;
    border-color: chocolate;
}

.boton {
    /* TRANSFORMACIÓN DE BOTÓN ENVIAR DE PÁGINA DE CONTACTO */
    &__enviar:hover {
    transform: scale(1.1);
    /* USO DE EXTEND EN CLASES DIFERENTES */
    @extend .boton__bootstrap;
    }    
    /* ANIMACIÓN DE BOTÓN DE MISIÓN EN PÁGINA PRINCIPAL */
    &__animacion {
        animation-duration: 1s;
        animation-name: animacion_boton;
        animation-iteration-count: infinite;
    }
}

.btn-primary {
    /* USO DE EXTEND EN CLASES DIFERENTES */
    @extend .boton__bootstrap;
}

@keyframes animacion_boton {
    0% {
        width: 8rem;
    }

    50% {
        width: 9rem;
    }

    100% {
        width: 10rem;
    }
}